body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: #421b1b;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
main {
  padding: 1em;
  text-align: center;
}

p {
  padding: 0 20em;
  line-height: 30px;
}

footer {
  color: #2d2c2c;
}
